.leftPaneBox{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.lefPaneContainer{
    padding: 20px;
}

.leftPaneMenu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftPaneMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leftPaneMenuIcon{
    margin-right: 20px;
}

.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pagesYouLiked{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(99, 101, 103);
}

.pageList{
    padding: o;
    margin: 0;
}

.pageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.PageName{
    margin-left: 10px;
}