.navBarBox{
    height:60px;
    width:100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navBarLeft{
    flex: 3;
}

.navBarCenter{
    flex: 5;
}

.navBarRight{
    flex: 4;
}

.profilePicImg{
    width:38px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
}

.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchBarBox{
    width:100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 10px;
}



.searchInput{
    border: none;
    width:80%;
}

.searchInput:focus{
    outline: none;
}

.navBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navBarIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarIcon{
    margin-left: 10px;
}

.navBarLinks{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
}

.navBarLink{
    margin-left: 10px;
}

.iconTag{
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    position: absolute;
    border-radius: 10%;
    justify-content: center;
}
